body {
   margin-top: 75px;
}

nav {
   background-color: white;
}

.navbar-light .navbar-nav .nav-link {
 color: #dc602e;
}

.text-center {
   color: #dc602e !important;
   margin-bottom: 3rem;
   margin-top: 2rem;
}
.btn{
   margin-top: 1rem;
   margin-bottom: 1rem;
}
.form{
   margin-left: 1rem;
  margin-right: 1rem;
}
.titleQuotation{
   text-align: center;
   font-size: 2rem;
}
.subtitleQuotation{
/*margin-left:45rem;*/
margin-bottom: 3rem;
font-size: 1.2rem;

}
iframe{
   margin-bottom: 3rem;
}
label{
   margin-top: 1rem;
   font-weight: bold;
}
.img{
    float: left;
}
.image{
    border: solid 1px black;
}
.textProduction{
    font-size: 14px;
}
.text-left{
    color: #dc602e !important;
    font-size: 25px;
}
.textTestimony{
    font-size : 15px;
}
.testimony{
        font-size: 10px;
    
}